mixin menuLink(title, href='#')
  li.header-menu-item 
    a.header-menu-link(href= href)=title 

mixin headerBottomItem(number, text)
  .header-bottom-item
    span.header-bottom-number=number
    span.header-bottom-text=text

mixin blockBox(caption, title, desc)
  .block-header
    h3.block-header-caption= caption 
    h2.block-header-heading= title 
    if desc 
      p.block-header-desc= desc

mixin aboutItem(src, title, iconClass='fa fa-users')
  .about-item 
    img.about-image(src= src)
    .about-content 
      i.about-icon(class= iconClass)
      span.about-title= title

mixin countItem(count, title)
  .number-item 
    h4.number-item-count= count
    span.number-item-text= title